<fieldset class="share">
  <legend class="share__legend js_share_legend" id="shareLegend">
    <i class="share__nodes fa-solid fa-share-nodes"></i>
    <h2 class="share__title">Comparte</h2>
    <i class="js_arrow share__up fa-solid fa-chevron-up toggle_arrow"></i>
  </legend>

  <div class="share__div js_share_form collapsed">
    <button
      type="submit"
      class="share__button js_create_button js_buttonOrange"
    >
      <i class="fa-solid fa-address-card share__card"></i>Crear tarjeta
    </button>

    <div class="share__div--title">
      <!-- En este h3, sale la frase de creada tarjeta o error -->
      <h3 class="js_share__title--done share__title--done"></h3>
      <!-- Aquí va la url creada -->
      <a target="blank" class="share__link js_url" href=""></a>
      <button type="button" class="share__button--in js_shareButtonTwitter">
        <i class="fa-brands fa-twitter share__twi"></i>Compartir en twitter
      </button>
    </div>
  </div>
</fieldset>
