<fieldset class="design">
  <!------------SECTION LEGEND------------------->

  <legend class="design__legend js_design_legend" id="designLegend">
    <span><i class="fa-regular fa-object-ungroup design__square"></i></span>
    <h2 class="design__title">Diseña</h2>
    <span
      ><i class="js_arrow design__up fa-solid fa-chevron-up toggle_arrow"></i
    ></span>
  </legend>

  <!------------SECTION COLOURS-------->

  <div class="design__container js_design_form collapsed">
    <p class="design__subtitle">Colores</p>

    <div class="design__options">
      <!--Option 1-->

      <div class="design__options--colour" id="style_001">
        <input
          class="design__circle"
          type="radio"
          id="firstColour"
          name="colourPalette"
          value="firstColour"
          checked
        />
        <div class="design__colour design__colour--1"></div>
        <div class="design__colour design__colour--2"></div>
        <div class="design__colour design__colour--3"></div>
      </div>

      <!--Option 2-->

      <div class="design__options--colour" id="style_002">
        <input
          class="design__circle"
          type="radio"
          id="secondColour"
          name="colourPalette"
          value="secondColour"
        />
        <div class="design__colour design__colour--4"></div>
        <div class="design__colour design__colour--5"></div>
        <div class="design__colour design__colour--6"></div>
      </div>

      <!--Option 3-->

      <div class="design__options--colour" id="style_003">
        <input
          class="design__circle"
          type="radio"
          id="thirdColour"
          name="colourPalette"
          value="thirdColour"
        />
        <div class="design__colour design__colour--7"></div>
        <div class="design__colour design__colour--8"></div>
        <div class="design__colour design__colour--9"></div>
      </div>
    </div>
  </div>
</fieldset>
