<section class="main-landing">
  <a href="./create.html">
    <img
      class="main-landing__img"
      src="./assets/images/logo-awesome.svg"
      alt="Logo"
  /></a>

  <h1 class="main-landing__title landing-h1">Crea tu tarjeta de visita</h1>
  <p class="main-landing__paragraph landing-paragraph">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <div class="main-landing__advantages">
    <div class="main-landing__advantages__container">
      <i class="advantages__icon fa-regular fa-object-ungroup"></i>
      <p class="landing-paragraph">Diseña</p>
    </div>

    <div class="main-landing__advantages__container">
      <i class="advantages__icon fa-regular fa-keyboard"></i>
      <p class="landing-paragraph">Rellena</p>
    </div>

    <div class="main-landing__advantages__container">
      <i class="advantages__icon fa-solid fa-share-nodes"></i>
      <p class="landing-paragraph">Comparte</p>
    </div>
  </div>
  <a class="main-landing__link" href="./create.html">Comenzar</a>
</section>
