<section class="main-preview">
  <div class="main-preview-wrapper">
    <button class="main-preview__button js-reset-btn">
      <i class="fa-solid fa-trash-can"></i>Reset
    </button>
  </div>
  <article class="profile-card">
    <div class="main-preview-wrapper js_style_preview">
      <div class="profile-card-border">
        <h2 class="profile-card__name js_name">Nombre y Apellidos</h2>
        <p class="profile-card__occupation js_ocupation">Profesión</p>
      </div>
      <div class="profile-card__img js__profile-image"></div>
      <ul class="profile-card__social">
        <li>
          <a class="social-links js_icon_phone" href=""
            ><i class="fa-solid fa-mobile-screen-button"></i
          ></a>
        </li>
        <li>
          <a class="social-links js_icon_email" href=""
            ><i class="fa-regular fa-envelope"></i
          ></a>
        </li>
        <li>
          <a class="social-links js_icon_linkedin" href=""
            ><i class="fa-brands fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a class="social-links js_icon_github" href=""
            ><i class="fa-brands fa-github-alt"></i
          ></a>
        </li>
      </ul>
    </div>
  </article>
</section>
